# Django Settings
DEBUG=True
SECRET_KEY=your-secret-key-here-change-in-production

# Database
#DATABASE_URL=to-do


# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# Email (optional)
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=noreply@investclub.com
